$white: #fff;

@mixin buildMemebershipCard (
  $colorPrimary: $white,
  $colorText: $white,
  $padding: 25px
  ) {
  width: 300px;
  max-height: 440px;
  text-align: center;
  box-shadow: 0px 7px 20px 0px #6470d63d ;
  border-radius: 11px;
  transition: all .2s;
  color: $colorText;
  padding: $padding;
  background: $white;
  z-index: 2 ;
  background-image:$colorPrimary;

  .name {
    font-size: 18px;
    color: $colorText;
  }

  .price {
    font-size: 60px;
    font-weight: bold;
    color: $colorText;
    display: flex;
    justify-content: center;
    align-items: center;

    .currency {
      font-size: 35px;
      font-weight: bold;
      color: $colorText;
      margin-right: 10px;
    }
  }

  &__buy {
   padding: 10px;
  }

  .description-content {
    padding-bottom: 30px;
    padding-top: 10px;

    .item {
      padding: 13px;
      color: $colorText;
    }
  }
}

.main-content-memebership-alternative-card {
  @include buildMemebershipCard(
    linear-gradient(
      to right,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    ),
    $white ,
    45px 25px
  );

  .description-content {
    .item {
      border-top: 1px solid  #bfc3ff;
      color: $white;
    }
    .item:last-child {
      border-bottom: 1px solid  #bfc3ff;
    }
  }

  .btn-primary {
    background: $white;
    color: hsl(237, 63%, 64%);
  }
}

.main-content-memebership-card {
  @include buildMemebershipCard(
    $white ,
    hsl(232, 13%, 33%) ,
    25px
  );

  .description-content {
    .item {
      border-top: 1px solid  hsl(234, 14%, 74%);
      color: #6d708d;
    }
    .item:last-child {
      border-bottom: 1px solid  hsl(234, 14%, 74%);
    }
  }
}

.row-membership-content {
  display: flex;
  justify-content: center;
  height: 440px;
  align-items: center;

  .main-content-memebership-card:first-child {
    border-radius: 11px 0 0 11px;
  }

  .main-content-memebership-card:last-child {
    border-radius: 0 11px 11px 0px;
  }

}

